@font-face {
    font-family: 'Video400';
    src: url("../fonts/Video-Regular.ttf");
}

@font-face {
    font-family: 'Video300';
    src: url("../fonts/Video-Light.ttf");
}

@font-face {
    font-family: 'WorkSans';
    src: url("../fonts/WorkSans.ttf");
}


$niebieski500: #45d5ec;
$granatowy800: #020206;
$szaryfont: #B2B2B4;
$zolty500: #FCA311;
$zolty300: #FEE3B8;
$bialy200: #FEFEFE;
$szarawy: #CCCCCF;

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
    color: $granatowy800;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1264px;
    margin: 0 auto;
    min-height: fit-content;
    // height: 100vh; // zmień na 100% po umieszczeniu w Wordpress
    position: relative;
    overflow: hidden;
    margin: 50px auto; // do usunięcia
}

.head-button {
    // border: 1px dotted red;
    width: fit-content;
    padding: 12px 32px;
    background-color: $niebieski500;
    border-radius: 12px;
    font-family: "Video400", sans-serif;
}

.configurator-box {
    background-image: linear-gradient(white, white),
        linear-gradient(288deg, rgba(69, 213, 236, 0.07), rgba(69, 213, 236, 0.7));
    border: double 1px transparent;
    border-radius: 12px;
    background-origin: border-box;
    background-clip: content-box, border-box;


    .configurator-box-wrapper {
        padding: 64px 48px;
        display: flex;
        flex-direction: column;
        gap: 64px;

        .main {
            display: flex;
            flex-direction: column;
            gap: 32px;

            .head-box {
                display: flex;
                justify-content: space-between;

                .titles {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    .title {
                        font-family: "Video300", sans-serif;
                        font-size: 32px;
                        color: $niebieski500;
                        font-weight: normal;
                        letter-spacing: -0.01em;
                    }

                    .subtitle {
                        font-family: "WorkSans", sans-serif;
                        font-size: 14px;
                        color: $niebieski500;
                    }
                }

                .steps-bars {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    height: 25px;

                    .desc {
                        font-family: "WorkSans", sans-serif;
                        font-size: 16px;
                        color: $szaryfont;
                    }

                    .bars {
                        display: flex;
                        gap: 4px;


                        .bar {
                            height: 8px;
                            background-color: $zolty300;
                            width: 12px;
                            border-radius: 12px;

                            &.active {
                                width: 16px;
                                background-color: $zolty500;
                            }
                        }
                    }
                }
            }


            .content {
                display: flex;
                gap: 12px;

                .box {
                    padding: 32px 24px;
                    border-radius: 12px;
                    gap: 24px;
                    flex-basis: 50%;
                    flex-direction: column;
                    display: flex;
                    border: 1px solid #CCCCCF40;
                    background-color: #FEFEFE;
                    background-image: radial-gradient(120% 120% at 75% 160%, rgba(204, 204, 207, 0.3), rgba(204, 204, 207, 0));
                    box-shadow: 0px 8px 16px 0px #CCCCCF3D;
                    cursor: pointer;

                    .icon {
                        display: flex;
                    }

                    .text-box {
                        .main-text {
                            font-weight: normal;
                            font-size: 24px;
                            font-family: "WorkSans", sans-serif;
                        }

                        .sub-text {
                            font-size: 14px;
                            font-family: "WorkSans", sans-serif;
                            color: $szaryfont;
                        }
                    }
                }
            }

            .buttons {
                display: flex;
                gap: 32px;
                justify-content: space-between;

                .buttons-wrapper {
                    display: flex;
                    gap: 12px;

                    .button {
                        gap: 10px;
                        padding: 14px 32px;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &.next {
                            background-color: #FCA311;
                            background-image: radial-gradient(170% 170% at 25% 180%, #F51542, #f5154200);
                            box-shadow: inset 4px 4px 8px 0px #FCD19C33;
                            filter: drop-shadow(0px 0px 8px #F7E8BE29);
                        }

                        p {
                            font-family: "Video300", sans-serif;
                            color: $bialy200;
                        }

                        img {
                            height: 9px;
                        }
                    }
                }
            }
        }

        .summary {
            // border: 1px dotted red;
            display: flex;
            padding-bottom: 24px;
            gap: 139px;
            border-bottom: 1px solid;
            border-bottom: 1px solid $szarawy;
            justify-content: space-between;

            .notes-wrapper {
                display: flex;
                // border: 1px dotted red;
                width: 451px;

                .note {
                    // border: 1px dotted red;
                    font-family: "WorkSans", sans-serif;
                    font-size: 10px;
                    color: $szaryfont;

                }
            }

            .pricing-wrapper {
                display: flex;
                // border: 1px dotted red;
                width: 578px;
                justify-content: space-between;

                .hours {
                    // border: 1px dotted red;
                }

                .cost {
                    // border: 1px dotted red;

                    .value-wrapper {
                        // border: 1px dotted red;
                        display: flex;
                        align-items: first baseline;
                        gap: 16px;

                        .info {
                            font-family: "WorkSans", sans-serif;
                            font-size: 16px;
                            color: $niebieski500;
                        }
                    }
                }

                .value {
                    font-family: "Video400", sans-serif;
                    font-size: 32px;
                    letter-spacing: -0.01em;
                    color: $niebieski500;
                }

                .note {
                    font-family: "WorkSans", sans-serif;
                    font-size: 14px;
                    color: $niebieski500;
                }
            }
        }
    }
}