// *************************

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.5;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: "Clarika Geo Regular", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1040px;
    margin: 0 auto;
    min-height: fit-content;
    height: 100vh; // zmień na 100% po umieszczeniu w Wordpress
    position: relative;
    overflow: hidden;
    // border: 1px dotted red
}